__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
.github/copilot-instructions.md
frontend/node_modules/*
frontend/.env

# Uploaded files
backend/uploads/**/*
backend/node_modules/*
!backend/uploads/**/.gitkeep